<%= column_chart (@graphing) %> 
<br><br>
<h1>This student has note: <%= @student_note %></h1>
<h1>This student's current course is: <%= @current_course %></h1>
<br><br>

<h1><%= @student_email %></h1>

<a href="mailto: <% @student_email %>"> Email this student <%= @student_email %> </a>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
