<%= column_chart (@graphing) %> 
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Course Title: <%= @current_course %></h4>
<br><br>
<br><br>

<p>This student may have some note: <%= @student_note %></p>
<br>
<a href="mailto: <%= @student_email %>"> Send Email to: <%= @student_name %> at <%= @student_email %> </a>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
