<%= flash[:notice] %> 
<div>
	<h3>Import student roster in csv format: </h3>
    <p><font color="red">Select a course: </font></p>
	  <%= form_tag import_students_path, multipart: true do %>
	  <%= collection_select :course, :id, Course.where("user_id = ?", current_user.id),
	  		 :id, :course_code, prompt: true %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Upload" %>
	  <% end %>
	  
</div>
<div>
	<h3>Add Individual Student (Optional): <%= link_to t('.new', :default => t("helpers.links.new")),
			                                new_student_path,
			                                :class => 'btn btn-primary' %></h3>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
