<%= form_for @course, :html => { :class => "form-horizontal course" } do |f| %>

    <% if @course.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :course_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :course_code, :class => 'form-control' %>
    </div>
    <%= error_span(@course[:course_code]) %>
  </div>
  <div class="control-group">
    <%= f.label :course_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :course_name, :class => 'form-control' %>
    </div>
    <%= error_span(@course[:course_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :term, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :term, :class => 'form-control' %>
    </div>
    <%= error_span(@course[:term]) %>
  </div>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year, :class => 'form-control' %>
    </div>
    <%= error_span(@course[:year]) %>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'form-control' %>
    </div>
    <%= error_span(@course[:note]) %>
  </div>

  <br>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            courses_path, :class => 'btn btn-default' %>

<% end %>
