<%= form_for @attendance, :html => { :class => "form-horizontal attendance" } do |f| %>

    <% if @attendance.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @attendance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :att_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :att_date, :class => 'form-control' %>
    </div>
    <%= error_span(@attendance[:att_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :att_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :att_time, :class => 'form-control' %>
    </div>
    <%= error_span(@attendance[:att_time]) %>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'form-control' %>
    </div>
    <%= error_span(@attendance[:note]) %>
  </div>
  <div class="control-group">
    <%= f.label :course_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :course_id, :class => 'form-control' %>
    </div>
    <%= error_span(@attendance[:course_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :student_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :student_id, :class => 'form-control' %>
    </div>
    <%= error_span(@attendance[:student_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            attendances_path, :class => 'btn btn-default' %>

<% end %>
