<h3>Attendances List: </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Att Date</th>
      <th>Att Time</th>
      <th>Note</th>
      <th>Last Name</th>
      <th>First Name</th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.att_date %></td>
        <td><%= attendance.att_time %></td>
        <td><%= attendance.note %></td>
        <td><%= Student.find_by_id(attendance.student_id).last_name %></td>
        <td><%= Student.find_by_id(attendance.student_id).first_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              attendances_path, :class => 'btn btn-default' %>
