<%- model_class = Attendance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div>
	<h3>Upload attendance sheet:</h3>
	    <p><font color="red">Select a course: </font></p>
		  <%= form_tag import_attendances_path, multipart: true do %>
		  <%= collection_select :attendance, :course_id, Course.where("user_id = ?", current_user.id),
		  		 :id, :course_code, prompt: true %>
		    <%= file_field_tag :file %>
		    <%= submit_tag "Upload" %>
		  <% end %>
		  
</div>

<br><br>
<br><br>
<br><br>
<h3>Add an individual student attendance:</h3>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_attendance_path,
            :class => 'btn btn-primary' %>
<br><br>
<br><br>
<br><br>

